[Unit]
Description=LincStation LED and Reset for TrueNas
After=network.target

[Service]
ExecStart=/home/fx2mx3/lincstation_boot/go.sh
Type=forking

[Install]
WantedBy=multi-user.target